.footer {
    margin-top: 20px;
    font-size: 0.9rem;
    color: var(--primary-color);
}

.speciale-dagen-footer {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    text-align: left;
}

.speciale-dagen-footer h5 {
    font-size: 1rem;
    margin-top: 0;
    color: var(--secondary-color);
}

.speciale-dagen-footer ul {
    list-style-type: none;
    padding: 0;
    font-size: 0.9rem;
}

.speciale-dagen-footer ul li {
    margin-bottom: 5px;
}

.goto-date {
    margin-top: 20px;
}

.goto-date input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.goto-date button {
    padding: 8px 16px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.goto-date button:hover {
    background-color: var(--secondary-color);
}
